.uc {
    width:100%;
}
h1 {
	margin: .4em 0;
}
footer ul {
    list-style: none outside none;
}
footer a {
	text-decoration: none;
	color:#fff;
	margin-right: 2%;
}
h1.title a {
    display: block;
    outline: 0 none;
    font-family: holla;
    font-size:1.6em;
    color:#55b6e1;
    text-decoration: none;
    line-height: 42px;
    /* background: url("/img/wac-ohio.png") no-repeat scroll 0 100% rgba(0, 0, 0, 0); */
}